@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --principal-color: #FFFCF7;
    --fondo-color: #F7EEEF;
    --green-color: #6B877B;
    --dark-color: #202020;
    --red-color: #945C65;
    --poppins-font: "Poppins", sans-serif;
}

/**************** CUSTOM P *******************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************** RESET *******************/

body{
    background: var(--fondo-color);
    font-family: var(--poppins-font);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html{
    font-size: 13px;
    scroll-behavior: smooth;
}

textarea{
    font-family: var(--poppins-font);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    font-size: 1.1rem;
    font-weight: 300;
}

header{
    width: 100%;
    height: 7rem;
    background: var(--fondo-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

main{
    width: 100%;
    min-height: 100vh;
    padding-top: 7rem;
}

.container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
}

/*MULTIMEDIA CONTAINER*/

.multi__cont{
    width: 100%;
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.hora__cont{
    width: 100%;
    height: 12rem;
    background: var(--dark-color);
    border-radius: 2rem;
    margin: 0 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.fecha__cont{
    width: 100%;
    height: 7rem;
    background: var(--dark-color);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.horario{
    font-size: 4rem;
    font-weight: 300;
}

/*ENTRADA DE TEXTO*/
.entrada__cont{
    width: 100%;
    min-height: 20rem;
    padding: 1rem 0;
}

#entrada{
    width: 100%;
    min-height: 20vh;
    resize: none;
    border-radius: 2rem;
    padding: 1.5rem;
    border: none;
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: var(--poppins-font);
    margin: 1rem 0;
}

.val{
    display: none;
}

.val__vis{
    width: 100%;
    height: 3rem;
    background: var(--red-color);
    margin: 0 0 1rem 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    color: var(--fondo-color);
}


.valblanc{
    display: none;
}

.valblanc__vis{
    width: 100%;
    height: 3rem;
    background: var(--red-color);
    margin: 0 0 1rem 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    color: var(--fondo-color);
}


.btn{
    width: 9rem;
    height: 3rem;
    background: var(--dark-color);
    color: var(--principal-color);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

/*CARDS CONTAINER*/
.cardContainer{
    width: 100%;
    min-height: 8rem;
    margin: 2rem 0;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;

}

.tit__not{
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.cards{
    width: 100%;
    min-height: 8vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    width: 100%;
    min-height: 5rem;
    background: var(--dark-color);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 1rem;
    color: var(--principal-color);
    padding: 1.5rem;
    margin: 0;
    overflow: hidden;
    word-break: break-all;
}

.card__completado{
    text-decoration: line-through;
}

.btns{
    width: 100%;
    min-height: 4vh;
    margin: 0.5rem 0 2rem 0;
    display: flex;
}

.btn__eliminar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    min-width: 7rem;
    height: 3rem;
    background: var(--red-color);
    color: var(--principal-color);
    border: none;
    border-radius: 1rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
}

.btn__completado{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-width: 8rem;
    height: 3rem;
    background: var(--green-color);
    color: var(--principal-color);
    border: none;
    border-radius: 1rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
}



