@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --principal-color: #e0e0e0;
    --gray-color: #797979;
    --black-color: #1a1919;
    --dark-color: #202020;
    --poppins-font: "Poppins", sans-serif;
}

/**************** CUSTOM P *******************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/**************** RESET *******************/

body{
    background: var(--principal-color);
    font-family: var(--poppins-font);
}

html{
    font-size: 13px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


header{
    width: 100%;
    position: fixed;
}

main{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
}

/*ENTRADA DE TEXTO*/

.entrada__cont{
    width: 100%;
    min-height: 25vh;
    padding: 1rem 0;
}

#entrada{
    width: 100%;
    min-height: 20vh;
    resize: none;
    border-radius: 2rem;
    padding: 1.5rem;
    border: none;
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: var(--poppins-font);
    margin: 1rem 0;
}

.btn{
    width: 7rem;
    height: 3rem;
    background: var(--dark-color);
    color: var(--principal-color);
    border: none;
    border-radius: 1rem;
}

/*CARDS CONTAINER
.card{
    width: 100%;
    min-height: 15rem;
    background: var(--dark-color);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 3rem;
    margin: 2rem 0;
}*/


